<!DOCTYPE html>
<html>
<head>
    <title>Friedchez</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>
    <body>
        <div id="navbar">
            <a href="/">Home</a>
            <a href="/capitalizar">Capitalizar Texto</a>
            <a href="/tienda">Tienda</a>
            <a href="/catering">Catering</a>
            <a href="/estampados">Estampados</a>
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
