{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 id="titulo_capitaliza">Capitaliza tu texto</h1>
        <h4 id="descripcion">
            Escribe lo que quieras y lo capitalizaré
        </h4>
    </div>    
    <div class="container-form">
        <form action="/capitalize" method="post">
            <label for="text">Ingresa el texto:</label>
            <br>
            <textarea name="text" id="text" cols="30" rows="10" placeholder="Escribe el texto que deseas capitalizar..."></textarea>
            <br>
            <button type="submit">Capitalizar</button>
        </form>
    </div>
{% endblock %}
