{% extends "base.html" %}

{% block content %}
<div class="card">
  <div class="card-header">
      Herramienta de Formateo de Texto:
  </div>
  <div class="card-body">
    <h5 class="card-title"> Transforma y Organiza tus Palabras</h5>
    <p class="card-text">Capitaliza y organiza texto fácilmente. Transforma listas de nombres en segundos y descarga en Excel. </p>
    <a href="/capitalizar_texto" class="btn btn-primary">Ir a herramienta</a>
  </div>
</div>
{% endblock %}
<!-- Path: templates/index.html -->